[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.app-icon-arrow-left,
.app-icon-arrow-right {
    width: 8px;
    height: 12px;
    fill: $white;
}

.app-icon-check {
    width: 28px;
    height: 28px;
}