.app-page-header {
    position: relative;
    overflow: hidden;
    min-height: 25px;
    margin: $distance 0;
    padding: $distance*2 $gutter;
    text-align: center;

    h1 {
        color: $white;
    }

    h2 {
        margin-bottom: $distance;
        color: $gull-gray;
    }

    p {
        margin-top: $distance;
        color: $gull-gray;
    }

    .icon {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        fill: rgba($black, .15);
        width: auto;
        height: 100%;
        color: transparent;
    }
}
